@import '../reset.css';

.primary {
  background-color: #c0c0c0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.side {
  position: fixed;
  width: 200px;
  height: 100%;
  transition: 0.5s;
}

.active {
  width: 100px;
  transition: 0.5s;
}

.side > .btn {
  display: flex;
  justify-content: flex-end;
}

.side div > button {
  border: none;
  background-color: transparent;
}

.side > button:hover {
  cursor: pointer;
}

.menu,
.menu ul {
  height: 100%;
}

.side .menu ul li {
  padding: 5px 0 5px 5px;
}

.side .menu ul li:last-child {
  margin-top: 680px;
  position: fixed;
}

.page {
  width: 100%;
  padding-left: 200px;
  transition: 0.5s;
}

aside.active + div {
  padding-left: 100px;
  transition: 0.5s;
}
aside.active + div header {
  left: 100px;
  transition: 0.5s;
}

header {
  position: fixed;
  right: 0;
  left: 200px;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 30px;
  padding: 5px 10px 0 10px;
  transition: 0.5s;
}

header > div {
  align-self: center;
}

h1 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 15px;
  padding-top: 30px;
}

.content {
  padding-top: 30px;
  height: calc(100% - 30px);
}

.content > div {
  margin-left: 20px;
}

nav {
  overflow: hidden;
  background-color: #333;
}

nav a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 18px 24px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown > button {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 16px 16px;
  color: black;
  background-color: inherit;
  margin: 0;
}

nav a:hover,
.dropdown:hover .dropbtn {
  background-color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.content > button {
  position: fixed;
  right: 2px;
  bottom: 3px;
  z-index: 9999;
  border-radius: 30px;
  margin: 0px 10px 5px 0px;
  cursor: pointer;
}

section {
  display: flex;
  margin-top: 15px;
}

section > div:nth-child(1) {
  flex: 3;
  height: 1500px;
  margin: 0px 10px 0px 0px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

section > div:nth-child(2) {
  flex: 1;
  margin: 0px 10px 0px 0px;
}

section > div:nth-child(2) > div:nth-child(1) {
  height: 30%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 400px;
}

section > div:nth-child(2) > div:nth-child(2) {
  width: 400px;
  height: 50%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
