<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="grid.css" />
    <title>Chapter1-grid1</title>
  </head>
  <body>
    <div class="contanier black">
      <div class="grs-1 gre-4 gcs-1 gce-4 ivory"></div>
      <div class="grs-1 gre-3 ivory"></div>
      <div class="skyblue"></div>
      <div class="skyblue"></div>
      <div class="gcs-2 gce-4 red"></div>
      <div class="black"></div>
    </div>
  </body>
</html>
