<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="grid.css" />
    <title>Chapter1-grid2</title>
  </head>
  <body>
    <div class="contanier black">
      <div class="grs-1 gre-3 ivory"></div>
      <div class="grs-1 gre-2 red"></div>
      <div class="grs-1 gre-3 skyblue"></div>
      <div class="grs-1 gre-3 ivory"></div>
      <div class="grs-3 gre-4 ivory"></div>
      <div class="grs-2 gre-4 red"></div>
      <div class="ivory"></div>
      <div class="blue"></div>
      <div class="gcs-1 gce-3 yellow"></div>
      <div class="ivory"></div>
      <div class="ivory"></div>
    </div>
  </body>
</html>
