<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="block.css" />
    <title>Chapter1 - block2</title>
  </head>
  <body>
    <div class="w-25 h-75">
      <div class="w-100 h-75 ivory"></div>
      <div class="w-100 h-25 blue"></div>
    </div>
    <div class="w-25 h-75">
      <div class="w-100 h-25 red"></div>
      <div class="w-100 h-75 black"></div>
    </div>
    <div class="w-25 h-75">
      <div class="w-100 h-75 blue"></div>
      <div class="w-100 h-25 yellow"></div>
    </div>
    <div class="w-25 h-75">
      <div class="w-100 h-75 black"></div>
      <div class="w-100 h-25 ivory"></div>
    </div>
    <div class="w-50 h-25 yellow"></div>
    <div class="w-25 h-25 blue"></div>
    <div class="w-25 h-25 gray"></div>
  </body>
</html>
