@import '../../reset.css';

html,
body {
  width: 100%;
  height: 100%;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-sizing: border-box;
  -o-sizing: border-box;
  box-sizing: border-box;
}

.f-6 {
  flex: 6;
}

.f-3 {
  flex: 3;
}

.f-2 {
  flex: 2;
}

.f-1 {
  flex: 1;
}

.container {
  border-top: 20px solid brown;
  border-right: 10px solid brown;
  border-left: 20px solid brown;
  border-bottom: 10px solid brown;
  width: 100%;
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-colum {
  display: flex;
  flex-direction: column;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: skyblue;
}

.ivory {
  background-color: ivory;
}

.yellow {
  background-color: yellow;
}

.gray {
  background-color: gray;
}

.border-top {
  border-top: 10px solid black;
}

.border-right {
  border-right: 10px solid black;
}
