<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="flex.css" />
    <title>Chapter1 - flex-1</title>
  </head>
  <body>
    <div class="container flex-colum">
      <div class="flex-row f-2">
        <div class="f-6 border-right ivory"></div>
        <div class="flex-colum f-2">
          <div class="f-2 ivory"></div>
          <div class="f-1 border-top blue"></div>
        </div>
      </div>
      <div class="flex-row f-1 border-top">
        <div class="flex-row f-6 border-right">
          <div class="f-1 border-right blue"></div>
          <div class="f-2 red"></div>
        </div>
        <div class="f-2 black"></div>
      </div>
    </div>
  </body>
</html>
