<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="flex.css" />
    <title>Chpter1 - flex-2</title>
  </head>
  <body>
    <div class="container flex-row">
      <div class="f-2 flex-colum border-right">
        <div class="f-3 flex-row">
          <div class="f-1 flex-colum border-right">
            <div class="f-2 ivory"></div>
            <div class="f-1 border-top ivory"></div>
          </div>
          <div class="f-1 flex-colum">
            <div class="f-1 red"></div>
            <div class="f-2 border-top red"></div>
          </div>
        </div>
        <div class="f-1 yellow border-top"></div>
      </div>
      <div class="f-1 flex-colum border-right">
        <div class="f-3 flex-colum">
          <div class="f-2 blue"></div>
          <div class="f-1 border-top ivory"></div>
        </div>
        <div class="f-1 border-top ivory"></div>
      </div>
      <div class="f-1 flex-colum">
        <div class="f-3 flex-colum">
          <div class="f-2 ivory"></div>
          <div class="f-1 border-top gray"></div>
        </div>
        <div class="f-1 border-top ivory"></div>
      </div>
    </div>
  </body>
</html>
