<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="table.css" />
    <title>Chapter1 - table1</title>
  </head>
  <body>
    <table>
      <tbody>
        <tr class="h-50">
          <td rowspan="2" colspan="2" class="w-80 ivory border-right"></td>
          <td class="w-20 ivory"></td>
        </tr>
        <tr class="h-25">
          <td class="skyblue"></td>
        </tr>
        <tr class="h-25">
          <td class="w-20 skyblue border-right"></td>
          <td class="red border-right"></td>
          <td class="black"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
