<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="table.css" />
    <title>Chapter1 - table2</title>
  </head>
  <body>
    <table>
      <tbody>
        <tr>
          <td rowspan="2" class="ivory"></td>
          <td class="red"></td>
          <td rowspan="2" class="skyblue"></td>
          <td rowspan="2" class="ivory"></td>
        </tr>
        <tr>
          <td rowspan="2" class="red"></td>
        </tr>
        <tr>
          <td class="ivory"></td>
          <td class="ivory"></td>
          <td class="blue"></td>
        </tr>
        <tr>
          <td colspan="2" class="yellow"></td>
          <td class="ivory"></td>
          <td class="ivory"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
